* {
    margin: 0;
}

@font-face {
    font-family: "BlackSignaturePersonalUseOnly";
    src: url('/project/fonts/BlackSignaturePersonalUseOnlyRegular.otf');
}

/* ЗАГОЛОВОК */
header#header {
    height: 90px;
    padding-left: 1px 119px 2px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

div#header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1202px;
}

div#name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
}

ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 18px;
    padding: 0;
    margin: 0;    
}
li {
    display: inline;
    align-items: center;
    padding: 0 5px;
    cursor: pointer;
}
li#home {
    color: #8A53FF;
    weight: 400;
}

p#talk {
    font-family: BlackSignaturePersonalUseOnly;
    margin: 0;
    font-size: 15px;
    color: #3E3E3E;
}

p#trav {
    color:#8A53FF;
    font-family: "Changa One", sans-serif;
    margin: 0;
    font-size: 28px;
}


/* ПРЫЖОК СО СКАЛЫ */
div#next-trip {
    display: flex;
    flex-direction: column;
    height: 530px;
    width: 100%;
    padding: 0;
    background-image: url("images/nextTrip.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
}


h1#talk-trip {
    font-size: 73px;
    padding-left: 100px;
    line-height: 84px;
    padding-top: 100px;
    font-family: "Changa One", sans-serif;
    font-weight: 400;
}
span#lets {
    color: #8A53FF;
}
p#sharing {
    padding-left: 100px;
    margin: 0;
    font-family: "Roboto";
    color: #434343;
    line-height: 36px;
    font-size: 22px;
    font-weight: 400;
}
img.person {
    width: 540px;
    height: 338px;
    margin-right: 40px; 
}
.button-block {
    display: flex;
    gap: 24px;
    width: 360px;
    height: 46px;
    padding-left: 100px;
}
.colored-button {
    background-color: #8A53FF;
    color: white;
    border-radius: 4px;
    height: 46px;
    width: 165px;
    border-color: #8A53FF;
}
.transparent-button {
    color: #434343;
    background-color: white;
    border-color: white;
    font-family: "Roboto";
}

div#destination {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    height: 350px;
    margin: 0;
    padding-top: 107px;
    padding-right: 140px;
    padding-bottom: 107px;
    padding-left: 140px; 
}



div#text-dest {
    width: 580px; 
    padding: 30px;
}

div#discover {
    height: 550px;
    padding-top: 24px;
    padding-right: 119px;
    padding-bottom: 70px;
    padding-left: 119px;
    gap: 48px;

}

div#discover-header {
    height: 69px;
    width: 1200px;
    gap: 8px;
}

p#join {
    height: 21px;
    font-family: Roboto, sans-serif;
    color: #8A53FF;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    letter-spacing: 6%;
    line-height: 21.09px;
}

p#discover-with-us {
    height: 40px;
    font-family: "Changa One";
    font-weight: 400;
    font-size: 39px;
    line-height: 40px;
    text-align: center;
    color: #434343;
}
div#location-card {
    height: 410px;
    width: 1200px;
}
div.photo-container {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 410px;
}
div.card {
    width: 300px;
    height: 410px;
    padding: 16px;
    gap: 10px;
    box-sizing: border-box;
}
img.photo {
    width: 268px;
    height: 318px;
    border-radius: 8px; 
}

div#for-form {
    height: 850px;
}

article#catchup {
    height: 700px;
    padding: 83px 120px;
    gap: 30px;
}

footer {
    height: 80px;
    padding: 32px 120px;
}

