.catchup-section {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 83px 120px;
    gap: 30px;
}


.recent-posts {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
}
.recent-posts h4 {
    font-family: Roboto, sans-serif;
    color: #8A53FF;
    font-weight: 700;
    font-size: 18px;
}
.recent-posts h2 {
    margin-top: 12px;
    font-family: Changa One, sans-serif;
    font-weight: 400;
    font-size: 39px;
    color:#434343;
}


.articles {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 490px;
    margin-top: 25px;
}

.main-article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 20px;
    height: 100%;
    width: 50%;
}
.main-article h2 {
    color: #434343;
    font-family: Changa One, sans-serif;
    font-size: 24px;
    font-weight: 400;
}
.main-article p {
    color:#576074;
    font-family: Roboto;
    
}

.group-of-articles {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 50%;
}
.story {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.story img {
    width: 200px; 
    height: 128px;
    margin-right: 10px; 
}

.story-text {
    flex: 1;
}

.story h4 {
    margin: 0;
    font-size: 24px;
    font-family: Changa One;
    color: #434343;
}

.story p {
    margin: 5px 0 0;
    font-size: 16px;
    font-family: Roboto;
}

