* {
    margin: 0;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color: #000;
}

@font-face {
    font-family: "BlackSignaturePersonalUseOnly";
    src: url('/project/src/fonts/BlackSignaturePersonalUseOnlyRegular.otf');
}
@font-face {
    font-family: "Roboto";
    src: url('/project/src/fonts/ChangaOne-Regular.ttf');
}
@font-face {
    font-family: "Changa One";
    src: url('/project/src/fonts/ChangaOne-Regular.ttf');
}










