.next-trip {
    display: flex;
    flex-direction: column;
    height: 550px;
    background-image: url("/project/src/images/nextTrip.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
}
.next-trip h1 {
    margin-left: 124px;
    margin-top: 130px;
    line-height: 84px;
    font-family: Changa One, sans-serif;
    font-weight: 400;
    font-size: 73px;
    color:#434343;
}
.next-trip p {
    margin-left: 124px;
    margin-top: 12px;
    font-family: Roboto;
    color: #434343;
    line-height: 36px;
    font-size: 22px;
    font-weight: 400;
}
.next-trip span {
    color:#8A53FF;
}


.button-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 22px;
    width: 25%;
    height: 46px;
    margin-left: 124px;
    margin-top: 34px;
}
button#colored-btn {
    background-color: #8A53FF;
    border: none;
    border-radius: 4px;
    height: 46px;
    width: 165px;
    color: white;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
}
button#transparent-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #434343;
    background-color: transparent;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
    border: none;
    gap: 10px; 
}
