* {
    margin: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #000;
}

@font-face {
    font-family: "BlackSignaturePersonalUseOnly";
    src: url('../../fonts/BlackSignaturePersonalUseOnlyRegular.otf');
}

@font-face {
    font-family: "Roboto";
    src: url('../../fonts/Roboto.ttf');
}

@font-face {
    font-family: "Changa One";
    src: url('../../fonts/ChangaOne-Regular.ttf');
}