footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50px;
    font-family: Roboto, sans-serif;
    color:#939EB4;
}

.info {
    width: 400px;
    margin-left: 60px;
    margin-top: 15px;
}

.footer-menu {
    align-items: flex-start;
    margin-top: 12px;
    margin-right: 120px;
    width: 300px;
}

.footer-menu a {
     color:#939EB4;
 }