.header {
    height: 90px;
    padding: 1px 119px;
    display: flex;
    width: 85%
}
.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
}
.travel a {
    color:#8A53FF;
}


ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 18px;
    padding: 0;
    margin: 0;    
    color: #495367;
}
li {
    display: inline;
    align-items: center;
    padding: 0 5px;
    font-family: Roboto, sans-serif;
    cursor: pointer;
}

.home {
    font-weight: 400;
}


.talking {
    font-family: BlackSignaturePersonalUseOnly;
    margin: 0;
    font-size: 15px;
    color: #3E3E3E;
}
.travel {
    color:#8A53FF;
    font-family: Changa One, sans-serif;
    margin: 0;
    font-size: 28px;
}